@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');

.bg-primary{
    background-color: #563c80  !important;
}

.bg-secondary{
    background-color: #e3cbe7   !important;
}

.navb{
    color: #f1f2f8 ;
    font-family: 'Gabarito', sans-serif !important;
    font-size: 14pt !important;
}

.searchbar{
    border-radius: 15px;
}

.searchbarInside{
    background-color: #f1e5f3 !important;
    border-radius: 10px;

}

.logo{
    height: auto;
    width: 4em;
}

li{
    float: left;
    list-style: none;
    transition: 0.1s !important;
}

li:hover{
    color: #e3cbe7;
}

.transparent-input{
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
 }

.btn{
    background-color: #92499c  !important;
    border-radius: 30px !important;
    color: #f1f2f8 !important;
    font-size: 12pt !important;
    transition: 0.1s !important;
}

.btn:hover{
    background-color: #f1e5f3  !important;
    color: #70727c !important;

}

input[type="text"]:focus{
    box-shadow: inset 0 -1px 0 #ddd !important;
}

.filter-primary{
    filter: invert(25%) sepia(17%) saturate(1917%) hue-rotate(221deg) brightness(97%) contrast(91%);
    transition: 0.1s;
}

.btn-img{
    background: url(./ico/download.svg) no-repeat scroll 7px 7px;
    background-position: center; 
}

.filter-primary:hover{
    filter: invert(88%) sepia(11%) saturate(201%) hue-rotate(246deg) brightness(104%) contrast(92%);}
/* *{
    outline: 1px red solid;
} */

p{
    font-family: 'Lato', sans-serif !important;
    color: #080911 !important;
}

body{
    background-color: #f1f2f8 !important;
}